body {
  background-image: url('/imagebg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.framework-image {
  width: 10%; /* Adjust the width as needed */
  border-radius: 50%; /* Makes the image rounded */
  background-image: linear-gradient(to right, transparent, transparent); /* Gradient background */
  backdrop-filter: blur(10px); /* Applies a backdrop filter */
  backdrop-opacity: 0.5; /* Adjust the opacity of the backdrop filter */
  
  /* Add other styles as needed */
}
